extends layout

block content
    include user-card
    include die

    #feed-panel.panel
        .panel-header Feed

        #post-form
            if user
                h2 New Post
                form(method='POST' action='/posts/new')
                    label(for='title') Title
                    input(id='title' name='title' required)

                    label(for='content') Content 
                    input(id='content' name='content' required)

                    button(type='submit') Submit
            else 
                div Please sign in to post


        #post-list.custom-scroll
            if user
                each post, index in postlist
                    if post.username === user.username || user.friends.some(e => e.username === post.username)

                        .post 
                            .post-header 
                                - var  imgSrc = `../images/icons/${post.pic}.png`
                                if post.pic.length !== 1
                                    - imgSrc = post.pic
                                .pic(style=`background-image: url(${imgSrc})`)
                                .post-title= post.title     
                                .post-namedate-box
                                    a.post-username.username(href=`/users/${post.username}`)= post.username 
                                        each user in user_list 
                                            if user.username === post.username 
                                                +user-card(user)
                                    - var recentDate = false 
                                    - var date = new Date()
                                    - var hours = post.postDate.getHours()
                                    - var minutes = post.postDate.getMinutes()
                                    - var am = true
                                    if post.postDate && date.toLocaleDateString("en-US") === post.postDate.toLocaleDateString("en-US")
                                        - recentDate = true
                                    if recentDate 
                                        if hours > 11
                                            - am = false
                                            if hours > 12 
                                                - hours = hours - 12
                                        if hours === 0
                                            - hours = 12 

                                        if minutes < 10
                                            - minutes = `0${minutes}`

                                    .post-date= recentDate ? `Today at ${hours}:${minutes} ${am ? 'am' : 'pm'}` : post.postDate.toLocaleDateString("en-US")
                                    .post-likes 
                                        button.like-post-btn(username=`${user ? JSON.stringify(user.username) : ''}` post=`${JSON.stringify(post)}`)= post.likedUsers.some(e => e.username === user.username) ? 'Unlike' : 'Like'
                                        .post-like-count= post.likes

                            .post-content= post.content

                            .post-comments 
                                form(method='POST' action='/comments/new')
                                    input(name='post' value=post._id hidden)
                                    label(for=`post-comment${index}`) Comment
                                    input(type='text' id=`post-comment${index}` name='comment' required)
                                    button(type='submit') Submit


                                each comment in comment_list 
                                    if comment.post.equals(post._id)
                                        .comment
                                            .comment-header
                                                - var  imgSrc = `../images/icons/${comment.pic}.png`
                                                if comment.pic.length !== 1
                                                    - imgSrc = comment.pic
                                                .comment-pic(style=`background-image: url(${imgSrc})`)
                                                .comment-namedate-box
                                                    a.comment-username.username(href=`/users/${post.username}`)= comment.username
                                                        each user in user_list 
                                                            if user.username === comment.username 
                                                                +user-card(user)

                                                    - var date = new Date()
                                                    - var hours = comment.postDate.getHours()
                                                    - var minutes = comment.postDate.getMinutes()
                                                    - var am = true
                                                    if comment.postDate && date.toLocaleDateString("en-US") === comment.postDate.toLocaleDateString("en-US")
                                                        - recentDate = true
                                                    if recentDate 
                                                        if hours > 11
                                                            - am = false
                                                            if hours > 12 
                                                                - hours = hours - 12
                                                        if hours === 0
                                                            - hours = 12 

                                                        if minutes < 10
                                                            - minutes = `0${minutes}`

                                                    .comment-date= recentDate ? `Today at ${hours}:${minutes} ${am ? 'am' : 'pm'}` : comment.postDate.toLocaleDateString("en-US")
                                                    .comment-likes
                                                        button.like-comment-btn(username=`${user ? JSON.stringify(user.username) : ''}` comment=`${JSON.stringify(comment)}`)= comment.likedUsers.some(e => e.username === user.username) ? 'Unlike' : 'Like'
                                                        .comment-like-count= comment.likes
                                            .comment-content= comment.comment




    #side-panels

        #friends-panel.panel.collapsed
            .panel-header Friends

        #profile-panel.panel.collapsed
            .panel-header Profile

        #dice-panel.panel
            .panel-header Dice

            #gacha-machine
                #gacha-top 
                
                #gacha-spout.hidden
                    +die('khaki')
                    //- #gacha-flap.flapped
                #gacha-glass 
                #gacha-body 
                    #crank-slot-box
                        #slot-box
                            #gacha-slot
                                #slot-hole
                                #gacha-coin
                            #gacha-credits 00
                        #buy-die-btn
                            #crank-handle

                    

                #gacha-bottom

                

        #users-panel.panel 
            .panel-header Users

            #user-list 
                each user in user_list 
                    a.user-list-username.username(href=`/users/${user.username}`)= user.username
                        +user-card(user)

    script(src='/javascripts/script.js')