extends layout

block content
    include user-card
    include die

    #profile-info 
        - var  imgSrc = `../images/icons/${user_preview.pic}.png`
        if user_preview.pic.length !== 1
            - imgSrc = user_preview.pic

        .pic(style=`background-image: url(${imgSrc})`)
            #profile-details
                #profile-username= user_preview.username
                #profile-join-date= `Joined: ${user_preview.joinDate.toLocaleDateString("en-US")}` 
                #profile-likes= `${user_preview.likes} Likes`

    #friends-panels
        #friends-panel.panel
            .panel-header Friends

            each friend in user_preview.friends 
                    a.user-list-username.username(href=`/users/${friend.username}`)= friend.username
                        +user-card(friend)
        
        if user && user_preview.username === user.username
            #outgoing-panel.panel 
                .panel-header Outgoing Requests
                if user.outgoingRequests.length > 0
                    each request in user.outgoingRequests
                        div= request

            #incoming-panel.panel 
                .panel-header Incoming Requests
                if user.incomingRequests.length > 0
                    each request in user.incomingRequests
                        .accept-request-box
                            div= request
                            button#accept-request-btn(request=`${JSON.stringify(request)}`) Accept Friend


    #side-panels

        if user && user.username !== user_preview.username
            - var isFriend = false;
            each friend in user.friends 
                if friend.username === user_preview.username 
                    - isFriend = true
            #add-friend-btn.panel.collapsed
                - var friendText = 'Add Friend' 
                if isFriend
                    - friendText = `You are friends with ${user_preview.username}`
                     .panel-header=friendText
                else if user.outgoingRequests.includes(user_preview.username) 
                    - friendText = 'Friend request sent'
                     .panel-header=friendText
                else 
                    .panel-header#add-friend-panel(user=`${JSON.stringify(user_preview)}`)=friendText


            if isFriend
                #remove-friend-btn.panel.collapsed(user=`${JSON.stringify(user_preview)}`)
                    .panel-header Remove friend


        #dice-panel.panel 
            .panel-header Dice
            
            #user-dice            
                for die in user_preview.dice
                    +die('khaki', die.pip, die.base, die.inlay, die.shine, die.pipped, die)



        //- #profile-panel.panel
        //-     .panel-header Cards

        //- #dice-panel.panel.collapsed
        //-     .panel-header Cosmetics
 
        //- #users-panel.panel 
        //-     .panel-header Users

        //-     #user-list 
        //-         //- each user in user_list 
        //-         //-     .user-list-username.username= user.username
        //-         //-         +user-card(user)



    script(src='/javascripts/script.js')