extends layout

block content
    include user-card

    #profile-info 
        - var  imgSrc = `../images/icons/${user_preview.pic}.png`
        if user_preview.pic.length !== 1
            - imgSrc = user_preview.pic

        .pic(style=`background-image: url(${imgSrc})`)
            #profile-details
                #profile-username= user_preview.username
                #profile-join-date= `Joined: ${user_preview.joinDate.toLocaleDateString("en-US")}` 
                #profile-likes= `${user_preview.likes} Likes`

    #friends-panels
        #friends-panel.panel
            .panel-header(onclick='togglePanel(this)') Friends

            each friend in user_preview.friends 
                    a.user-list-username.username(href=`/users/${friend.username}`)= friend.username
                        +user-card(friend)
        
        if user && user_preview.username === user.username
            #outgoing-panel.panel 
                .panel-header(onclick='togglePanel(this)') Outgoing Requests
                if user.outgoingRequests.length > 0
                    each request in user.outgoingRequests
                        div= request

            #incoming-panel.panel 
                .panel-header(onclick='togglePanel(this)') Incoming Requests
                if user.incomingRequests.length > 0
                    each request in user.incomingRequests
                        .accept-request-box
                            div= request
                            button.accept-request-btn(onclick=`acceptFriend(event, ${JSON.stringify(request)})`) Accept Friend


    #side-panels

        if user && user.username !== user_preview.username
            - var isFriend = false;
            each friend in user.friends 
                if friend.username === user_preview.username 
                    - isFriend = true
            #add-friend-btn.panel.collapsed
                - var friendText = 'Add Friend' 
                if isFriend
                    - friendText = `You are friends with ${user_preview.username}`
                     .panel-header=friendText
                else if user.outgoingRequests.includes(user_preview.username) 
                    - friendText = 'Friend request sent'
                     .panel-header=friendText
                else 
                    .panel-header(onclick=`addFriend(${JSON.stringify(user_preview)})`)=friendText


            if isFriend
                #remove-friend-btn.panel.collapsed
                    .panel-header(onclick=`removeFriend(${JSON.stringify(user_preview)})`) Remove friend


        #friends-panel.panel 
            .panel-header(onclick='togglePanel(this)') Dice

        #profile-panel.panel
            .panel-header(onclick='togglePanel(this)') Cards

        #dice-panel.panel.collapsed
            .panel-header(onclick='togglePanel(this)') Cosmetics
 
        #users-panel.panel 
            .panel-header(onclick='togglePanel(this)') Users

            #user-list 
                //- each user in user_list 
                //-     .user-list-username.username= user.username
                //-         +user-card(user)



    script(src='/javascripts/script.js')