mixin user-card(user)
    .user-card.shown
        .card-header 
            .card-pic(style=`background-image: url('images/icons/${user.pic}.png')`)
            .card-header-info
                .card-username= user.username
                .card-likes= `${user.likes} Likes`

                .card-join-date= `Joined: ${user.joinDate.toLocaleDateString("en-US")}`
                button.friend-btn(onclick=`addFriend(${JSON.stringify(user)})`) Add Friend
        .card-body 
            .card-cards= `${user.cards.length} Cards`
            .card-dice= `${user.dice.length} Dice`
            .card-cosmetics= `${user.cosmetics.length} Cosmetics`

